@import url('https://fonts.googleapis.com/css?family=Audiowide|Titillium+Web');

body {
  margin: 0px;
}

p {
  font-family: "Titillium Web";
  line-height: 30px;
  color: white;
}

.modal-body {
  width: 80%;
  margin: auto;
}


.navbar {
  background: rgba(0,0,0,0.4);
  border: none;
  margin-bottom: 0px;
}

.navbar-header {
  display: flex;
  align-items: center;
}

.navbar-form {
  border: none;
}
.navbar-brand {
  font-family: "Audiowide";
  color: white !important;
  font-size: 32px;
  font-weight: 700;
}

#sublogo {
  font-family: "Audiowide";
  padding-top: 10px;
  color: white;
  font-size: 10px;
  font-weight: 100;
}

h1, h2, h3, h4 {
  font-family: "Audiowide";
  color: white;
}

h5 {
  padding: 5px 5px;
  color: #f5dda2;
}

h5 a {
  font-family: "Audiowide";
  color: #f5dda2;
  padding: 5px 5px;
  transition: .5s;
}

h5 a:hover {
  text-decoration: none;
  color: white;
}

#map {
    height: 100vh;
    width: 100%;
}

.modal-content {
  background: rgba(0,0,0,0.5);
  text-align: center;
}

.modal-footer {
  border: none;
  text-align: center;
}

.btn {
  font-family: "Audiowide";
}

.form-control {
  font-family: "Titillium Web"
}
