@import url('https://fonts.googleapis.com/css?family=Audiowide|Titillium+Web');

body {
  margin: 0px;
}

.navbar-default .navbar-brand{
  color: #DC3023;
}

.navbar-header{
  display: flex;
  align-items: center;
}

.navbar a {
  font-family: "Audiowide";
  color: red;
  font-size: 32px;
  font-weight: 700;
}

.navbar {
  margin-bottom: 0px;
}

#sublogo {
  font-family: "Audiowide";
  padding-top: 10px;
  color:black;
  font-size: 10px;
  font-weight: 100;
}

h3 {
  font-family: "Audiowide";
  color: #DC3023;
}

h4 {
  font-family: "Audiowide";
}

.form-control:focus {
  border-color: #FF0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px #DC3023;;
}

#map {
    height: 100vh;
    width: 100%;
}

.modal-content{
  text-align: center;
}
